<!--The content below is only a placeholder and can be replaced.-->
<div class='ui container' style="margin-top: 10px">
  <app-search-bar (search)="onTermSubmit($event)"></app-search-bar>
  <div class='ui grid'>
    <h3 *ngIf="isLoadingApiCall" style="margin-top: 50px">Loading...</h3>
    <div class='ui row' style="margin-top: 10px">
      <div *ngIf="selectedVideo" class='eleven wide column'>
        <app-video-details [video]="selectedVideo"></app-video-details>
      </div>
      <div *ngIf="apiVideoList" class='five wide column'>
        <app-video-list (selectedVideoParent)="showSelectedVideo($event)" [videoList]="apiVideoList"></app-video-list>
      </div>
    </div>
  </div>
</div>



